<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>budgeteventplanner.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>dataServlet</servlet-name>
    <servlet-class>budgeteventplanner.server.DataServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>vendorServlet</servlet-name>
    <servlet-class>budgeteventplanner.server.VendorServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>budgeteventplanner.server.UserServiceImpl</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>eventServlet</servlet-name>
    <servlet-class>budgeteventplanner.server.EventServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>attendeeServlet</servlet-name>
    <servlet-class>budgeteventplanner.server.AttendeeServiceImpl</servlet-class>
  </servlet>
      
  <servlet>
    <servlet-name>budgetServlet</servlet-name>
    <servlet-class>budgeteventplanner.server.BudgetServiceImpl</servlet-class>
  </servlet>      
      
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/budgeteventplanner/greet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>dataServlet</servlet-name>
    <url-pattern>/budgeteventplanner/data</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/budgeteventplanner/user</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>vendorServlet</servlet-name>
    <url-pattern>/budgeteventplanner/vendor</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>eventServlet</servlet-name>
    <url-pattern>/budgeteventplanner/event</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>attendeeServlet</servlet-name>
    <url-pattern>/budgeteventplanner/attendee</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>budgetServlet</servlet-name>
    <url-pattern>/budgeteventplanner/budget</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BudgetEventPlanner.html</welcome-file>
  </welcome-file-list>

</web-app>
